.character-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.char-card {
  display: block;
}
.char-card > img {
  border-radius: 50%;
}
header {
  background-color: #5271ff;
}
