@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

header {
  background-color: #5271ff;
  height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head-logo {
  height: 19vh;
  width: 500px;
  overflow: hidden;
}
* {
  font-family: "Ubuntu Mono", monospace;
}
a {
  text-decoration: none;
}
@media (max-width: 750px) {
  header {
    height: 10vh;
  }
  #head-logo {
    height: 10vh;
  }
}
