.character-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.char-card {
  display: block;
}
.char-card > img {
  border-radius: 50%;
}
header {
  background-color: #5271ff;
  height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head-logo {
  height: 166px;
  width: 500px;
  overflow: hidden;
}
