.logo-holder {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}
p {
  font-family: "Ubuntu Mono", monospace;
}
button {
  font-family: "Ubuntu Mono", monospace;
}
.home {
  display: grid;
  grid-template-rows: repeat(5, 20vh);
  grid-template-columns: repeat(5, 20vw);
}
#logo {
  width: 60vw;
  height: 60vh;
}
.hall-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav-help {
  grid-column: 5/6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.hall-holder > h1 {
  font-size: 2em;
  text-align: center;
}

@media (max-width: 750px) {
  #logo {
    width: 100vw;
  }
  .logo-holder {
    grid-column: 1/6;
    grid-row: 2/6;
  }
}
